Workflows/ConvertNonRespondedRequeststoTasks-2667E89E-0B7B-EA11-A811-000D3A0B9028.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"GMT Standard Time","schedule":{"hours":["9"]}},"type":"Recurrence"}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ans_requests","$filter":"createdon le @{addDays(utcNow(),-1)}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Create_a_Task":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"tasks","item/subject":"Student Issue","item/description":"Student has not responded to email request form.","item/_ownerid_type":"","item/_regardingobjectid_value":"@items('Apply_to_each')?['_ans_contact_value']","item/_regardingobjectid_type":"contacts","item/isbilled":false,"item/isworkflowcreated":false,"item/ans_issuetype":119020005},"authentication":"@parameters('$authentication')"}},"Delete_a_Request":{"runAfter":{"Create_a_Task":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ans_requests","id":"@items('Apply_to_each')?['ans_requestid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}