Workflows/CreateTaskfromRequest-1A7B6328-077B-EA11-A811-000D3A0B9028.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"ans_request","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"ans_requestissuetype","subscriptionRequest/filterexpression":"ans_requestissuetype ne null"},"authentication":"@parameters('$authentication')"}}},"actions":{"Check_for_Issue":{"actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"tasks","item/ans_issue_type":"@triggerOutputs()?['body/ans_requestissuetype']","item/subject":"Student Issue","item/description":"@triggerOutputs()?['body/ans_description']","item/_ownerid_type":"","item/_regardingobjectid_value":"@triggerOutputs()?['body/_ans_contact_value']","item/_regardingobjectid_type":"contacts","item/isbilled":false,"item/isworkflowcreated":false},"authentication":"@parameters('$authentication')"}},"Delete_a_record":{"runAfter":{"Create_a_new_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ans_requests","id":"@triggerOutputs()?['body/ans_requestid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Delete_Request_issue_type_is_None":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"DeleteItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ans_requests","id":"@triggerOutputs()?['body/ans_requestid']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"equals":["@triggerOutputs()?['body/ans_requestissuetype']",119020000]}},"type":"If"}}}},"schemaVersion":"1.0.0.0"}