Workflows/InboundBotWebhook-B60FB3B3-577E-EA11-A811-000D3A0B9028.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Http","inputs":{"schema":{"type":"object","properties":{"email":{"type":"string"},"issue_type":{"type":"integer"},"issue_description":{"type":"string"}}}}}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItems_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","$filter":"emailaddress1 eq '@{triggerBody()?['email']}'\n","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Create_a_new_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"PostItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"tasks","item/ans_issue_type":"@triggerBody()?['issue_type']","item/subject":"Student Assistance Bot","item/description":"@triggerBody()?['issue_description']","item/_ownerid_type":"","item/_regardingobjectid_value":"@items('Apply_to_each')?['contactid']","item/_regardingobjectid_type":"contacts","item/isbilled":false,"item/isworkflowcreated":false},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}