Workflows/SendemailonnewRequest-B98C6157-A37C-EA11-A811-000D3A0B9028.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"SubscribeOnNewItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ans_requests","scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Request_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"ans_requests","id":"@triggerOutputs()?['body/ans_requestid']"},"authentication":"@parameters('$authentication')"}},"Get_Contact_Record":{"runAfter":{"Get_Request_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataservice","operationId":"GetItem_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataservice"},"parameters":{"dataset":"default.cds","table":"contacts","id":"@outputs('Get_Request_Record')?['body/_ans_contact_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_Contact_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"student@domain.com","emailMessage/Subject":"Student Assistance","emailMessage/Body":"<p>Hi @{outputs('Get_Contact_Record')?['body/fullname']},<br>\n<br>\nWe’d love to know you’re ok and keeping safe and healthy at this time.  Should there be any challenges you are facing around finances, accommodation or anything else, please let us know via the following secure link and we’ll be in touch right away to assist you..<br>\n<br>\n<a href=\"https://heportal.powerappsportals.com/request/?id=@{triggerOutputs()?['body/ans_requestid']}\">Student Assistance</a><br>\n<br>\nThanks Student Services</p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}